

<div class="row">
	
	<div class="col-xs-12 col-sm-6 col-md-6">
		<%= @fcontent.html_safe %>
	
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6">
		<%= @scontent.html_safe %>

	</div>


</div>

<%= content_for :script do %>
<script type="text/javascript">
	
$(function(){

	$('img').each(function(index,ele){


		if($(ele).attr('data-ks-lazyload'))
		{
			$(ele).attr('src',$(ele).attr('data-ks-lazyload'));
		}

	});


});


</script>
<% end %>