<div id="content">
	<div class="tabbable">
	 <ul class="nav nav-tabs" id="proftabs">
	  <li  class="active"><a href="#desc_tab"  data-toggle="tab" >产品详情</a></li>
	  <li><a href="#statics_tab" data-toggle="tab">产品统计</a></li>
	   <div class="tab-content">
	        <div id="desc_tab" class="tab-pane active">
					<%= render :partial => "desc_item",:locals => {:shop_item=>@shop_item,:fcontent=>@fcontent,:fcontent=>@scontent}%>  
	        </div>
		    <div id="statics_tab"  class="tab-pane">
				<%= render :partial => "statics_item",:locals => {:shop_item=>@shop_item,:offset=>0,:sales_history=>@sales_history,:count_history=>@count_history,:sales_total=>@sales_total,:count_total=>@count_total}%>  
		    </div>
	  </div>
	</div>


</div>








</div>