	

	<div id="date_box" class="DI_SU_time span12"> 
		<div class="date_d_date_box">   
		<div class="date_d_quickDate">     <a class="date_d_dateActive" href="javascript:void(0)">&lt;&lt;&nbsp;前一天</a>     <input id="J_quick_timer" class="date_d_dateValue" readonly="readonly"  disabled="disabled">     <a class="date_d_dateSpec date_d_dateDeactive" href="javascript:void(0)">后一天&nbsp;&gt;&gt;</a>   
		</div>   
		<div class="date_d_timerBox">  <p>选择时间</p>   
			<div class="input-append date date_d_timeInput ">
			  <input type="text" ><span class="add-on"><i class="icon-th"></i></span>

			</div>

			<div class="date_d_timeSearch" >
				
			  	<a class="btn" id="search"> 查询 </a>

			</div>

			<!-- <input id="st_time_input" readonly="readonly" class="date_d_timeInput" type="text" autocomplete="off" value="" daterange="2014-02-14..2014-02-14"> -->
		 </div> 


		</div>
	</div>


	<div class="clearfix"> </div>
	<div class="sections">
		<%= render :partial => "/user_center/shops/show_data",:locals => @locals%>  

	</div>


<%= content_for :script do %>
<script type="text/javascript">
	$(function(){
		

		function datapick_init()
		{

			var datapicker = $('.input-append.date');
			var today = new Date(); 
			today = new Date(today.getFullYear(),(today.getMonth()),today.getDate());
			var current = today;
			var fclick = $('.date_d_quickDate a:first');
			var lclick = $('.date_d_quickDate a:last');


			function fmtdate(d)
			{
				return d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();
			}

			function setDate(date)
			{

				current = date;
				$('#J_quick_timer').val(fmtdate(date));

				if(current.valueOf() === today.valueOf())
				{

					lclick.toggleClass('date_d_dateActive date_d_dateDeactive');

				}
				else if(lclick.hasClass('date_d_dateDeactive'))
				{
					lclick.toggleClass('date_d_dateActive date_d_dateDeactive');
				}
				 $('.sections').html('');


				 var timeDiff = Math.abs(today.getTime() - current.getTime());
				 var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
				 $.ajax({
		            url: "<%= user_center_shop_path(@shop,:format => 'js')%>",
		            type: "GET",
		            data: {
		            	'offset':  diffDays ,
		            	'_rdm':Math.random()
		            },
		            dataType:"text",
		            success: function(data) {
		            	//alert(data);
		               $('.sections').html(data);
		            },
					  error: function(e){
					   // alert(e);
					  }
		          });




			}

			datapicker.datepicker({
				language: 'zh-CN',
				endDate: today,
			});

		

			
			$('#J_quick_timer').val(fmtdate(current))

			$('#search').click(function(){

				
				var date = $('.input-append.date').datepicker('getDate');
				setDate(date);
			})



			//previous day
			fclick.click(function(){
				setDate(new Date(current.valueOf()-24*60*60*1000));
			})

			lclick.click(function(){
				t_time = new Date(current.valueOf()+24*60*60*1000);
				if(t_time.valueOf()<= today.valueOf())
				{
					setDate(t_time);

				}
			});

		};

		datapick_init();

	})


</script>
<% end %>